#gcal {
    width: 10%;
    height: auto;
}

#recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#recipes a:link, #recipes a:visited {
    text-decoration: none;
    color: black;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    padding: 3%;
    padding-top: 10%;
    background-color: antiquewhite;
    border-radius: 5%;
    font-size: larger;
}

.recipe-card:hover {
    transform: scale(1.1);
    transition: ease-in-out;
}

.preview-image {
    width: 75%;
    height: auto;
    border-radius: 5%;
}